@model IEnumerable<PlanetsApp.Models.Planet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<article style="width:43%">
    <p>Wecome to PlanetDatabase.com - the website that shows you a list of planets in our solar system and their approximate distance to the sun in kilometres.</p>
</article><br />
<br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Distance in km
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

